<p id="notice"><%= notice %></p>

<h1>Vds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vds.each do |vd| %>
      <tr>
        <td><%= vd.name %></td>
        <td><%= vd.email %></td>
        <td><%= link_to 'Show', vd %></td>
        <td><%= link_to 'Edit', edit_vd_path(vd) %></td>
        <td><%= link_to 'Destroy', vd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vd', new_vd_path %>
