<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vd.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vd.email %>
</p>

<%= link_to 'Edit', edit_vd_path(@vd) %> |
<%= link_to 'Back', vds_path %>
