<h1>Info#infogem</h1>
<p>Find me in app/views/info/infogem.html.erb</p>
<h3>Gem Details</h3>
<p>Name: <%= @dependency.name %></p>
<p>Authors: <%= @dependency.authors %></p>
<p>Version: <%= @dependency.version %></p>
<%= link_to 'Show Application Dependencies', dependencies_path %> <br>
<%= link_to 'Home', root_path %>
